* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.parent-container {
  display: flex;
  height: 100vh;
}
.left-container {
  flex: 0.8;
  background-color: black;
  /* color: white; */
  display: flex;
  flex-direction: column;
}
.right-container {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}
.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user-video-container img{
  height: 200px;
  object-fit: contain;
}
video {
  height: 200px;
  object-fit: contain;
}
.controls{
    background-color: #1C1E20;
    color: #D2D2D2D2;
    /* height: 50px; */
    /* width: 100px; */
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;

}
.controls-block{
    display: flex;
}
.control-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 8px 10px;
    cursor: pointer;
}
.control-btn:hover{
    background-color: #343434;
    border-radius: 5px;
}
.leave-meeting{
    display: flex;
    align-items: center;
    color: red;
}

.chat-header{
    text-align: center;
    color: white;
}

.messages{
    color: white;
    flex-grow: 1;
    overflow-y: scroll;
}
.chat-input{
    padding: 10px 5px;
    display: flex;
    border-top: 1px solid #3D3D42;
}
.chat-input input{
    background: transparent;
    flex-grow: 1;
    border: none;
    color: #F5F5F5;
}
input:focus{
  outline: none;
}
.audio-btn{
  width: 70px;
}
.video-btn{
  width: 140px;
}
.mute-audio, .stop-video{
  color: red;
}
.hide{
    display: none;
}